body{
    
    width: 100%;
    min-width: 450px;
   
    background-color: rgb(194, 195, 211);
    
}

a {
  text-decoration: none;
  /* color: #1E1E23; */
  opacity:1;
  font-family: 'work sans', sans serif;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;
  
}

#movie iframe{
  width: 80%;
  height: 400px;

}

.h1{
font-size: 40px;
line-height: 1.5;
}
.h2{
  font-size: 30px;
  line-height: 1.5;
}
.h3{
  font-size: 20px;
  line-height: 1.5;
}

h1 ,h2 ,h3{
  color: #36383F;
}



#logo{
    border: 20px;
    padding: 15px;
}

#menuToggle{

  display: none;
}

#line{
  float: left;
  padding-left: 30%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.icon{
  height: 40px;
  width: 40px;
}

#wrap{
    height: 70px;
}
nav {
    
    width: 100%;
    /* height: 80px; */
    text-align: left;
    position: fixed;
    /* overflow: visible; */
    margin: auto ;
  
    
    
    background-color: green;
    
}

#earth{
  float: left;
  width: 350px;
  
}

#new{
  
background-color: rgb(167, 217, 218); 

color: #fff;
padding: 80px;
height: auto;
text-align: center;

}
#new1-0{
  text-align: center;

}

#question{
  background-color: rgba(163, 186, 12, 0.915);
  width: 200px;
  border-radius: 20px;
text-align: center;
margin: 30px;
display:inline-block ; 
}

#android{
  text-align: left;
  padding-left: 26%;
  float: left;
}

#ios{
  padding-right: 10%;
  
  
}

#one{
  text-align: center;
  width: 100%;
}

#hot
{
    /* background-color: rgb(21, 230, 59);  */
    text-align: center ;
    color: #fff;
    padding: 80px;
    height: auto;
    
}
#all
{
  background-color: rgb(167, 217, 218);
    text-align: center ;
    color: #fff;
    padding: 80px;
    height: auto;
}



#all div img{
  
  
 height: 100px;
 
 
}

#group{
  text-align: center;
  

}

/* #all div a{
margin: 10px;
border-radius: 20px;
padding: 5px;
background-color: red;
} */
#about
{
    /* background-color: rgb(235, 197, 47);  */
    text-align: center ;
    color: #fff;
    padding: 80px;
    height: auto;
}


footer
{
background-color: black; 
text-align: center ;
color: #fff;

padding: 10px;
}

.title{
 float: right;

 padding: 30px;
}
.title2{
  float: left;
}

.title a{
  color: white;
}




  @media(max-width:530px){

    #movie iframe{
      width: 100%;
      height: 200px;
    
    }
    nav {
    
      height: 80px;
      
  }

 .title{
   display: none;
 }

.title2{
  float: none;}


  #menuToggle {
    
    display: flex;
    flex-direction: column;
    position: relative;
    top: -20px;
    right: -100%;
    margin: -25px;
    
    
    
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
 


  #menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}




#menu
{
  position: absolute;
  width: 180px;
  height: 400px;
  box-shadow: 0 0 10px #85888C;
  margin: -50px 0 0 -150px;
  padding: 50px;
  padding-top: 120px;
  background-color: #F5F6FA;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
  color: black;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

#menu li a
{

  color: black;
}
#android ，#ios{
  text-align: center
}

#line{
  padding-left: 0px;
  float: none;
}
}
